name: complex

# on: push
on:pull_request

jobs:
    ubuntu:
        runs-on: ubuntu-latest
        steps:
        - run: date
    windows:
        runs-on: windows-latest
        steps:
        - run: date
    macos:
        runs-on: macos-latest
        steps:
        - run: date
    depends:
        needs: [windows, ubuntu, macos]
        runs-on: macos-latest
        steps:
        - run: date
